*{
    padding: 0;
    box-sizing: border-box;
}
.registration-form{
    margin: 5px;
box-sizing: border-box;
width: 100%;
border: 2px solid black;
text-align: left;
background: #513838;
padding: 100px;
line-height: 40px;
color: black;
text-transform: uppercase;
}
.registration-form h1{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-align: center;
    background: white;

}

@media (max-width:300px){
    .registration-form{
        text-align: left;
        margin-right: 0%;
        max-width:100% ;
        height: 100vh;
        background: #513838;
    }

}

h3{
    text-align: center;
    font-size: 30px;
    color: rgb(79, 7, 7);
    background: 15px 10px rgb(29, 120, 194);
}
.home ul{
    font-size: 25px;
    border-bottom: 2px;
    color: rgb(2, 2, 28);
    background: 20px 10px rgb(89, 39, 188);
    
}
.home ul li a{
    font-size: 30px;
    color: rgb(218, 25, 25);
    border-bottom: 5px;

}
.home ul li a:hover{
    background: white;
    color: #020400;

}
